.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	gap: 1.4rem;
	margin: 0 auto;
	padding: 1.2rem 1.6rem 6rem;
	/* background-color: rgb(112, 55, 72); */
	/* background-color: rgba(55, 112, 107, 0.9); */
	background-color: rgba(59, 36, 122, 0.6);


}

h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 6.8rem;
}

hr {
	width: 90%;
	margin: -1rem 0 1rem;
	border: 0.1rem solid;
	opacity: 0.4;
}

.component {
	width: 100%;
}