@media (max-width: 805px) {
	.container {
		height: auto;
		margin-top: 2rem;
		padding: 3rem 1.6rem;
		gap: 1.2rem;

	}

	h1 {
		font-size: 2.2rem;
		font-weight: 500;
	}

	h3 {
		font-size: 2.8rem;
	}
}

@media (max-width: 425px) {
	.container {
		height: auto;
		margin-top: 2rem;
		padding: 3rem 1.6rem;
		gap: 1.2rem;

	}

	h1 {
		font-size: 2.2rem;
		font-weight: 500;
	}

	h3 {
		font-size: 2.4rem;
	}
}

@media (max-width: 375px) {
	.container {
		padding: 2.4rem 1.6rem;
	}

	h1 {
		font-size: 2rem;
	}

	h3 {
		font-size: 2.2rem;
	}
}