@media (max-width: 630px) {
	img {
		width: 30rem;
	}

	.container {

		width: 94%;
		gap: 1.4rem;
		margin: 2rem auto 0;
		padding: 1.6rem 2rem;
	}
}

@media (max-width: 375px) {
	img {
		width: 24rem;
	}

	.container {

		width: 94%;
		gap: 1rem;
		margin: 2rem auto 0;
		padding: 0.6rem 1.4rem;
	}
}