@media (max-width: 680px) {
	.container {
		font-size: 2.4rem;
		padding: 2.4rem 1.8rem;
		height: auto;
	}
}

@media (max-width: 425px) {
	.container {
		font-size: 1.8rem;
		padding: 2rem 1.6rem;
	}
}

@media (max-width: 375px) {
	.container {
		padding: 1.6rem 1.5rem;
	}
}