.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 90%;
	gap: 2rem;
}

p {
	font-size: 3.6rem;
	font-weight: 500;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	width: 60%;
}

input {
	width: 100%;
	padding: 1.2rem 1.6rem;
	font-size: 2rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.9);
	background-color: rgb(233, 232, 253);
	border: none;
	border-radius: 1rem;

}

input::placeholder {
	color: rgba(37, 12, 12, 0.55);
	font-weight: 400;
}

.nextSession {
	align-self: flex-end;
	margin-right: 2.4rem;
	padding: 0.8rem 1.8rem;
	font-size: 2.4rem;
	border: none;
	border-radius: 0.6rem;
	background-color: #33853c;
}

.nextSession:hover {
	transition: 200ms;
	cursor: pointer;
	opacity: 0.8;
}

hr {
	width: 100%;
	margin: 1rem 0 1rem;
	border: 0.1rem solid;
	opacity: 0.4;
}